* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 Montserrat, arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
	display: block;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
input, select, textarea{
	outline: none;
	border: none;
}
textarea {
	resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* General settings */
.container{
	width: 1024px;
	margin: 0 auto;
}
/*HEADER START*/
.header{
	height: 99px;
	background: #373c3f;
	font-size: 15px;
}
.header a{
	color: #ffffff;
}
.logo{
	float: left;
	margin: 45px 0 0 56px;
	font-weight: bold;
}

.header-nav{
	float: left;
	margin: 45px 0 0 19px;
}
.header-nav li{
	display: inline-block;
	margin: 0 11px;
}

/*HEADER END*/
/*MAIN START*/

.img-raw{
	overflow: hidden;
}
.img-block{
	float: left;
}
.img-block img{
	width: 100%;
}
.img-block.w70{
	width: 78%;
}
.img-block.w30{
	width: 33.333333%;
}
.link{
	float: left;
	width: 22%;
	height: 244px;
	background: #bc3184;
}
.inner-block{
	height: 577px;
	background-color: #16b1c4;
}
.inner-block-wrap{
	display: inline-block;
	max-width: 725px;
	margin: 25% 0 0 9%;
	transform: translateY(-50%)
}
.inner-block span{
	display: inline-block;
	color: white;
	font-size: 60px;
	margin-bottom: 50px;
}
.inner-block a{
    color: #a6d5df;
    font-size: 33px;
	position: relative;
}
.inner-block-arrow::before,.inner-block-arrow::after{
	content: '';
	display: inline-block;
	width: 22px;
	height: 2px;
	background: white;
	position: absolute;
}
.inner-block-arrow::before{
	top: 0;
	left: 0;
}
.inner-block-arrow::after{
	bottom: 0;
	left: 0;
}
.inner-text{
	min-height: 560px;
}
.text-wrap{
	background-color: #ebebeb;
	min-height: 554px;
	font-size: 14px;
}
.text-item-wrap{
	max-width: 860px;
	margin: 0 auto;
	padding-top: 55px;
}
.text-item-wrap a{
	display: block;
	font-size: 30px;
	color: #088ca5;
	margin-bottom: 18px;
}
.text-item{
	float: left;
	width: 50%;
}
.text-item p{
	margin: 0 32px 18px 0;
	line-height: 2em;
}
/*MAIN END*/