* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 Montserrat, arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
	display: block;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
input, select, textarea{
	outline: none;
	border: none;
}
textarea {
	resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* General settings */
.slicknav_menu {
	display:none;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
/*HEADER START*/
.header{
	height: 99px;
	background: #373c3f;
	font-size: 15px;
}
.header a{
	color: #ffffff;
}
.logo{
	float: left;
	margin: 45px 0 0 56px;
	font-weight: bold;
}

.header-nav{
	float: left;
	margin: 45px 0 0 19px;
}
.header-nav li{
	display: inline-block;
	margin: 0 11px;
}

/*HEADER END*/
/*MAIN START*/

.img-raw{
	overflow: hidden;
	width: 100%;

	position: relative;
}
.img-block{
	float: left;
}
.img-block img{
	width: 100%;
}
.img-block.w70{
	width: 78%;

}
.img-block.w30{
	width: 33.333333%;
}
.link{
	float: left;
	width: 22%;
	position: relative;
	background: #bc3184;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.link a::after{
	content: '';
	display: inline-block;
	width: 21px;
	height: 21px;
	border: 7px solid white;
	border-radius: 5px;
	border-left: none;
	border-bottom: none;
	transform: rotate(45deg);
	position: absolute;
	left: 39%;
	top: 42%;
}
.inner-block{
	height: 577px;
	background-color: #16b1c4;
}
.inner-block-wrap{
	display: inline-block;
	max-width: 697px;
	margin: 25% 0 0 9%;
	transform: translateY(-50%);
	position: relative;
}
.inner-block span{
	display: inline-block;
	color: white;
	font-size: 60px;
	margin-bottom: 50px;
}
.inner-block a{
    color: #a6d5df;
    font-size: 33px;
}
.inner-block-arrow::after{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 5px solid white;
	border-radius: 2px;
	border-left: none;
	border-bottom: none;
	transform: rotate(45deg);
	position: absolute;
	right: 0;
}
.inner-text{
	min-height: 560px;
}
.text-wrap{
	background-color: #ebebeb;
	min-height: 554px;
	overflow: hidden;
	max-width: 1024px;
	font-size: 14px;
	padding-left: 80px;
	padding-right: 80px;
}
.text-wrap a{
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #088ca5;
	margin: 55px 0 18px 0;
}
.text-item-wrap{
	max-width: 50%;
	float: left;
}
.text-item{
	width: 100%;
}
.text-item p{
	margin-bottom: 18px;
	margin-right: 30px;	
	line-height: 2em;
	color: #707070;
}
/*MAIN END*/
/*MEDIA QUERIES START*/
@media (max-width: 1100px){
	.container{
		width: 980px;
	}
}
@media (max-width: 979px){
	.container{
		width: 768px;
	}
	.inner-block{
	height: 549px;
	}
	.inner-block-wrap {
    max-width: 546px;
    margin: 30% 0 0 8%;
	}
	.inner-block-wrap span{
		font-size: 47px;
	}
	.inner-block-wrap a{
		font-size: 30px;
	}
	.text-wrap{
		padding-left: 70px;
    	padding-right: 50px;
	}
}
@media (max-width: 783px){
	.container{
		width: 100%;
	}
	.img-block.w30{
		width: 100%;
	}
	.inner-block{
	height: 350px;
	}
	.inner-block-wrap {
    max-width: 505px;
    margin: 22% 0 0 11%;
	}
	.inner-block span{
	font-size: 43px;
	}
	.inner-block a{
		font-size: 26px;
	}
	.text-item-wrap {
    max-width: 100%;
	}
	.header-nav {
		display:none;
	}
	.slicknav_menu {
		display: inline-block;
		float: right;
		position: absolute;
		right: 0;
		z-index: 999;
		padding: 1.85em 1.625em 1.85em 1.625em;
	}
}
@media (max-width: 660px){
	.header{
		height: 91px;
	}
	.slicknav_menu{
		padding: 1.6em 1.625em 1.6em 1.625em;
	}
	.inner-block-wrap {
    max-width: 465px;
    margin: 27% 0 0 11%;
	}
	.inner-block span{
	font-size: 40px;
	margin-bottom: 31px;
	}
	.inner-block a{
		font-size: 23px;
	}
	.inner-block-arrow::after{
		width: 11px;
		height: 11px;
		border: 4px solid white;
		border-radius: 1px;
		border-left: none;
		border-bottom: none;
		transform: rotate(45deg);
		position: absolute;
		right: 10;
	}
	.link a::after{
		width: 21px;
		height: 21px;
		border: 4px solid white;
		border-radius: 2px;
		border-left: none;
		border-bottom: none;
	}
	.text-wrap{
		padding-right: 30px;
	}
}
@media (max-width: 560px){
	.inner-block-wrap {
    max-width: 408px;
    margin: 27% 0 0 11%;
	}
	.inner-block span{
		font-size: 34px;
	}
}
@media (max-width: 320px){
	.logo{
		font-size: 10px;
		margin: 13px 0 0 25px;
	}
	.header{
		height: 35px;
	}
	.slicknav_btn{
		margin: 0;
	}
	.slicknav_menu{
		padding: 0.2em 0.1em 0.2em 0.1em;
	}
	.inner-block{
		height: 199px;
	}
	.inner-block-wrap {
		max-width: 244px;
	}
	.inner-block span{
		font-size: 20px;
	}
	.inner-block a{
		font-size: 13px;
	}
	.link a::after{
		width: 9px;
		height: 9px;
		border: 2px solid white;
		border-radius: 1px;
		border-left: none;
		border-bottom: none;
	}
	.text-wrap{
		padding-right: 0px;
		padding-left: 40px;
	}
	.text-wrap a{
		font-size: 16px;
	}
	.text-wrap p{
		font-size: 12px;
		line-height: 1.5em;
	}
}
/*MEDIA QUERIES END*/